@import "./dark-theme.scss";

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100%;
  z-index: 99;
  transition: all 200ms linear;
  transform: translate(-100%);
  background: #00bfa5;

  &__header {
    padding: 4rem 1.33rem 1.2rem;
    display: flex;
    align-items: center;
    color: white;
    h3 {
      margin-left: 1.8rem;
      font-size: 1.1.6rem;
      letter-spacing: 0.03em;
    }
  }

  &__body {
    height: 90vh;
    background: #ffffff;
  }
}

@keyframes shine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30vw);
  }
}

.show_drawer {
  // when this class is active, sidebar will be visible
  transform: translate(0);
}
