.dark-theme {
  .app {
    background: #090f13;

    &::before {
      display: none;
    }

    &__mobile-message {
      color: rgba(241, 241, 242, 0.92);
    }

    @media screen and (max-width: 500px) {
      &::before {
        display: block;
        background: rgb(5, 97, 98);
      }
    }
  }
}
